@import "tailwindcss";

@theme {
  --color-warm-white: #F8F7F4;
  --color-ink: #12141D;
  --color-cobalt: #0066FF;
  --color-powder: #E2E9F3;
  
  --font-serif: "Georgia", serif;
}

* {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
